# Python Bytecode
__pycache__/
*.py[cod]

# Environment folders
.env/
.venv/
env/
venv/
.env

# Poetry specific files
.poetry/

# VS Code settings
.vscode/

# System files (Windows, macOS)
.DS_Store
Thumbs.db

# IDE & editor files
.idea/

# Coverage reports
.coverage
*.coveragerc

# Test and build directories
dist/
build/
*.egg-info/

# Pytest_cache files
.pytest_cache/

